<!DOCTYPE html>
<html hidden lang="en">
	<head>
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@krist">
		<meta name="twitter:description" content="A mostly-featured yet minimal web-based mail user agent prototype (weighing in at just ~40 kB gzipped including all HTML, JavaScript and SVG). It does provide many features you'd expect from a modern web-based mail app.">
		<meta name="twitter:image" content="https://webmail-demo.mundpropaganda.net/assets/twitter-image.webp">
		<meta name="twitter:site" content="@krist">
		<meta name="twitter:title" content="Minimal web-based mail user agent">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title><% preact.title %></title>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
    <div id='composer'></div>
    <div id='dropdowns'></div>
	</body>
</html>
